<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/software/polkit/policyconfig-1.dtd">
<policyconfig>
  <vendor>Hydex for Linux</vendor>
  <vendor_url>https://github.com/mwheiss/hydex-desktop</vendor_url>
  <icon_name>hydex-desktop</icon_name>

  <action id="com.github.mwheiss.hydex-desktop.update.install-deb">
    <description>Install a Hydex update</description>
    <message>Authentication is required to install the Hydex update.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/codex-update-manager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-deb</annotate>
  </action>

  <action id="com.github.mwheiss.hydex-desktop.update.install-rpm">
    <description>Install a Hydex update</description>
    <message>Authentication is required to install the Hydex update.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/codex-update-manager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-rpm</annotate>
  </action>

  <action id="com.github.mwheiss.hydex-desktop.update.install-pacman">
    <description>Install a Hydex update</description>
    <message>Authentication is required to install the Hydex update.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/codex-update-manager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-pacman</annotate>
  </action>

  <action id="com.github.mwheiss.hydex-desktop.update.rollback-deb">
    <description>Roll back a Hydex update</description>
    <message>Authentication is required to roll back the Hydex update.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/codex-update-manager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-rollback-deb</annotate>
  </action>

  <action id="com.github.mwheiss.hydex-desktop.update.rollback-rpm">
    <description>Roll back a Hydex update</description>
    <message>Authentication is required to roll back the Hydex update.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/codex-update-manager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-rollback-rpm</annotate>
  </action>

  <action id="com.github.mwheiss.hydex-desktop.update.rollback-pacman">
    <description>Roll back a Hydex update</description>
    <message>Authentication is required to roll back the Hydex update.</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/codex-update-manager</annotate>
    <annotate key="org.freedesktop.policykit.exec.argv1">install-rollback-pacman</annotate>
  </action>
</policyconfig>
